<app-main-nav></app-main-nav>

<section class="section container">

    <div class="chat">

        <h2>Welcome to Twilio Chat</h2>

        <h3>
            <i class="far fa-comments"></i> Chats available
        </h3>

        <div *ngFor="let channel of channels">

            <div class="chatGroup">

                <p class="title"> {{channel.friendly_name}} </p>
                <p>
                    <i class="fa fa-user" aria-hidden="true"></i> Members
                </p>

                <button type="button" class="btn btn-outline-success" (click)="loadData(channel)" data-toggle="modal" data-target="#modalChanel" data-whatever="@mdo">Join</button>

            </div>

        </div>

    </div>

</section>

<div class="modal fade top" id="modalChanel" tabindex="-1" role="dialog" aria-labelledby="modalChanelLabel" aria-hidden="true" *ngIf="channel != null">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Join Us</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #joinForm="ngForm" (ngSubmit)="join(joinForm)">

                    <div class="form-group md-form mb-5">
                        <i class="fa fa-user"></i>
                        <label for="user_id" class="col-form-label">Nickname</label>
                        <input *ngIf="channel != null" name="user_id" type="text" class="form-control" id="user_id" ngModel>
                    </div>

                    <div class="modal-footer justify-content-center" class="form-group" class="btnModal">
                        <button type="submit" class="btn btn-primary far fa-paper-plane" (click)="join(joinForm)" data-dismiss="modal">Go</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>