.main-container {
    margin-top: 60px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}

.puntero {
    cursor: pointer;
}

.chat-window {
    padding: 10px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #4080FF;
    border-radius: 20px;
}

.app-mensajes {
    overflow-y: scroll;
    height: 270px;
    /*background:gray;*/
    padding: 5px;
}

#date {
    font-size: 0.5rem !important;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* chat */

.container {
    width: 98%;
    /* margin: 0 auto; */
}

@media only screen and (min-width: 480px) {
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 90%;
        max-width: 1100px;
    }
}

.section {
    padding: 30px 0;
}

.section p {
    font-size: 1.2em;
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(/assets/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}

h3 {
    font-size: 1.8em;
    color: #fe4918;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

div.chat h3 {
    background-color: #fe4918;
    clear: both;
    color: white;
    text-align: center;
    padding: 10px 0;
}

div.chat::after {
    clear: both;
    display: block;
    content: '';
}

div.chatGroup {
    width: 50%;
    float: left;
    border: 2px solid #e1e1e1;
    transition: all .3s ease;
    text-align: center;
}

@media only screen and (min-width:768px) {
    div.chatGroup {
        width: 33.3%;
        min-height: 240px;
        padding-top: 20px;
    }
}

div.chatGroup:hover {
    background-color: #e1e1e1;
    -webkit-transform: scale(1.1);
}

div.chatGroup p.title {
    color: #fe4918;
    text-transform: uppercase;
    font-weight: bold;
}

div.chatGroup p {
    font-size: 1em;
}

div.chatGroup i {
    color: #fe4918;
    font-size: 1.6em;
}

div.form-group i {
    color: #fe4918;
    font-size: 1.6em;
}

h4.modal-title {
    color: #fe4918;
}

modal-title .modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}

.modal-notify .modal-content {
    border-radius: 3px;
}