<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-text"> Twilio </span>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/mainView"> <i class="fas fa-lock-open"></i> LogOut <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<section class="section container">

    <div class="chat">

        <h2>Welcome to Twilio Messages</h2>

        <h3>
            <i class="far fa-comments"></i> {{ channel_name}}
        </h3>

    </div>

</section>

<div class="container main-container">

    <div class="chat-window">

        <h1>Hello {{nickname}}</h1>
        <hr>

        <div class="app-mensajes" id="app-mensajes">

            <div *ngFor="let chat of messages" [ngClass]="{ 'text-right': chat.from == nickname  }">
                <span class="badge" [ngClass]="{ 'badge-primary': chat.from == nickname,
                             'badge-success': chat.from != nickname }">
                {{ chat.from }}</span>
                <p>
                    {{ chat.body }}
                </p>
                <p id="date">
                    {{ chat.date_created }}
                </p>
            </div>

        </div>

        <input type="text" name="message" [(ngModel)]="message" class="form-control" (keyup.enter)="send_message()" placeholder="Send Message">

    </div>

</div>

<app-footer></app-footer>