<footer class="site-footer">
    <div class="contenedor clearfix">

        <div class="footer-informacion">
            <h3>About <span>Twilio</span></h3>
            <p>Twilio is a developer platform for communications.</p>
        </div>
    </div>

    <p class="copyright">
        All rights reserved Twilio CR 2019.
    </p>
</footer>