h4.modal-title {
    color: #fe4918;
}

modal-title .modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}

.modal-notify .modal-content {
    border-radius: 3px;
}

div.modal-body {
    text-align: center;
}