<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-text"> Twilio </span>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/mainView" (click)="signOut()"> <i class="fas fa-sign-out-alt"></i> Sign Out <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Table of chats -->

<body class="h-100">

    <main class="pt-4">

        <div class="container" id="tabla">
            <h2 class="text-center mb-4">Chats Administration</h2>
            <div class="row text-center panel justify-content-center align-middle">
                <div class="col-lg-3 col-md-6 col-12 ">
                    <div class="modal-footer justify-content-center" class="form-group" class="btnModal">
                        <button type="button" class="btn btn-primary" (click)="loadData(channel)" data-toggle="modal" data-target="#createChatModal" data-whatever="@mdo"><i class="fas fa-plus-circle"></i>Add new chat</button>
                    </div>
                </div>
            </div>

            <h3 class="text-center mt-4">Chats List</h3>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <caption>Listing Updated...</caption>
                        <thead>
                            <tr>
                                <th scope="col">Friendly Name</th>
                                <th scope="col" class="text-right">Actions</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let chanel of channels">
                                <th scope="row">{{chanel.friendly_name}}</th>
                                <td class="text-right w120">
                                    <button type="button" class="btn btn-outline-danger" (click)="loadData(chanel)" data-toggle="modal" data-target="#deleteModal" data-whatever="@mdo">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                    <button type="button" class="btn btn-outline-success" (click)="loadData(chanel)" data-toggle="modal" data-target="#editChatModal" data-whatever="@mdo">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </main>

</body>

<!-- Create chat modal -->
<div class="modal" id="createChatModal" tabindex="-1" role="dialog" aria-labelledby="modalChanelLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Create a new chat</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #createChannelForm="ngForm" (ngSubmit)="createChannel(createChannelForm)">

                    <div class="form-group md-form mb-5">
                        <label for="user_id" class="col-form-label">Chat Name</label>

                        <input type="text" name="friendly_name" class="form-control mb-2" id="inlineFormInput" placeholder="Friendly Name" ngModel>
                    </div>

                    <div class="modal-footer justify-content-center" class="form-group" class="btnModal">
                        <button type="submit" class="btn btn-primary" (click)="createChannel(createChannelForm)" data-dismiss="modal">Create New Chat</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Edit chat modal -->
<div class="modal" id="editChatModal" tabindex="-1" role="dialog" aria-labelledby="modalChanelLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Edit a new chat</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form #editChannelForm="ngForm" (ngSubmit)="editChannel(editChannelForm)">

                    <div class="form-group md-form mb-5">
                        <label for="user_id" class="col-form-label">Chat Name</label>

                        <input *ngIf="channel != null" value="{{channel.friendly_name}}" type="text" name="friendly_name" class="form-control mb-2" ng-model="friendly_name.text" id="inlineFormInput" placeholder="Friendly Name" ngModel>
                    </div>

                    <div class="modal-footer justify-content-center" class="form-group" class="btnModal">
                        <button type="submit" class="btn btn-primary" (click)="editChannel(editChannelForm)" data-dismiss="modal">Edit New Chat</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Delete chat modal -->
<div class="modal" tabindex="-1" role="dialog" id="deleteModal" *ngIf="channel != null">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Delete Chat</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this chat?</p>
                <p>{{channel.friendly_name}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteChannel(channel.sid)" type="button" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>