.container {
    height: 1080px;
}

.row {
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.navLogIn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}