<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-text"> Twilio </span>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/logIn"> <i class="fas fa-lock-open"></i> LogIn <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <!-- <a class="nav-link" routerLink="/logIn"> <i class="fas fa-plus-circle"></i> LogIn </a> -->
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>